.mat-dialog-container {
  padding: 0 !important;
  border-radius: 4px !important;
  background-color: #2f2f49;
  overflow: hidden !important;
}

.add-bookmark {
  background-color: #2f2e4a;
  .add-bookmark-card {
    background-color: #2f2e4a;
    color: #fff;
    padding: 0;
    .mat-card-header {
      padding: 14px;
      background-color: #323153;
      color: #09d2e5;
      box-shadow: 0 3px 16px rgba(29, 31, 46, 0.5);
    }
    .add-bookmark-progress {
      height: 2px;
      opacity: 0.1;
      position: absolute;
      margin-top: 1px;
    }
    .mat-card-content {
      margin: 0;
      padding: 15px;
    }
    .mat-card-actions {
      margin: 0;
      padding: 15px;
    }
  }
}
