.card-bookmark {
  padding: 6px;
  .mat-card {
    overflow: hidden;
    max-width: 388px;
    padding: 0;
    background-color: #2e2d4a;
    border-radius: 4px;
    .mat-card-header {
      padding: 14px;
      background-color: #323153;
      box-shadow: 0 3px 16px rgba(29, 31, 46, 0.5);
      color: #09d2e5;
      .mat-card-avatar {
        width: 22px;
        height: 22px;
        border-radius: 2px;
      }
      .mat-card-header-text {
        .mat-card-title {
          margin-bottom: 0;
        }
      }
      .card-bookmark-title {
        overflow: hidden !important;
        max-width: 260px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .edit-container {
        color: #c388ff;
        .edit-button {
          width: auto;
          min-width: 1px;
          padding: 2px;
          border-radius: 50%;
          line-height: 16px;
          .mat-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            line-height: 14px;
          }
        }
        .edit-button:last-child {
          margin-left: 5px;
        }
      }
    }
    .mat-card-content {
      padding: 15px;
      margin-bottom: 0;
      color: #fff;
    }
    .mat-card-actions {
      padding: 10px;
      margin: 0;
      .mat-chip {
        padding: 7px 14px;
        border: 1px solid #4f4483;
        background-color: transparent;
        color: #8276bb;
        line-height: 13px;
      }
    }
    .mat-card-actions:last-child {
      margin-bottom: 10px;
    }
  }
}
