.home {
  &__bar {
    width: 100%;
    height: 78px;
    padding-left: 30px;
    background-color: #24253c;
    box-shadow: inset 0 5px 19px 0 rgba(7, 7, 21, 0.19);
    & &__button {
      width: 37px;
      min-width: 1px;
      height: 37px;
      padding: 0;
      margin-right: 15px;
      border-radius: 4px;
    }
    &__button:last-child {
      margin-right: 30px;
    }
    & &__button__text {
      min-width: 62px;
      margin-right: 15px;
      border-radius: 4px;
    }
  }
  &__container {
    padding: 20px;
  }
}
