.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #09d2e5;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #8276bb;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #8276bb;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  // background-color: #09d2e5;
  background-color: #c1c1c1;
}
