<mat-card @slideIn class="card-bookmark">
  <mat-card-header fxLayout="row">
    <img mat-card-avatar [src]="bookmark.icon" class="card-bookmark-icon">
    <div class="card-bookmark-title">{{ bookmark.url }}</div>
    <div fxFlex></div>
    <div class="edit-container">
      <button mat-button class="edit-button">
        <mat-icon>edit</mat-icon>
        <div class="load-spiner">
          <mat-spinner diameter="22"></mat-spinner>
        </div>
      </button>
      <button #button (click)="removeBookmark(bookmark.id, button)" mat-button class="edit-button">
        <mat-icon>delete</mat-icon>
        <div class="load-spiner">
          <mat-spinner diameter="22"></mat-spinner>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
      agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for
      hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-chip-list>
      <ng-container *ngFor="let tag of bookmark.tags">
        <mat-chip>{{ tag.title }}</mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
