<div class="add__bookmark">
  <form [formGroup]="form" (ngSubmit)="addBookmark()">
    <div class="add__bookmark__form" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Url" formControlName="url">
      </mat-form-field>
      <div class="bookmark__tags">
        <div #inputTagLabel [@label]="focusLabel" [ngClass]="{'bookmark__tags__label--focus': focusLabel === 'focus'}"
          class="bookmark__tags__label">Add tag</div>
        <div fxLayout="row wrap" fxLayoutGap="10px" class="bookmark__tags__container">
          <ng-container *ngFor="let tag of tags; let i = index">
            <!-- <div class="new__tag">{{ tag }}
              <mat-icon>close</mat-icon>
            </div> -->
            <mat-chip>{{ tag }}
              <mat-icon (click)="removeTag(i)">close</mat-icon>
            </mat-chip>
          </ng-container>
          <input #inputTag fxFill class="bookmark__tags__input" type="text" placeholder="" (focus)="focusTag()"
            (focusout)="focusoutTag(inputTag.value)" (keydown.enter)="addTag($event, inputTag)">
        </div>
        <div [ngClass]="{'bookmark__tags__underline--focus': focus === 'focus'}" class="bookmark__tags__underline">
          <div [@ripple]="focus" class="underline__ripple"></div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="end center">
        <button class="color--warning" (click)="cancelAction()" fxFlex="137px" mat-raised-button>Discard</button>
        <button class="color--primary" fxFlex="137px" mat-raised-button>Save</button>
      </div>
    </div>
  </form>
</div>
