<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar class="navbar">
      <img src="/assets/img/logo.png" alt="Logo">
    </mat-toolbar>
    <app-navbar-column></app-navbar-column>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="contaier">
      <router-outlet></router-outlet>
      <app-add-bookmark></app-add-bookmark>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
